<%- model_class = Car -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:make) %>:</strong></dt>
  <dd><%= @car.make %></dd>
  <dt><strong><%= model_class.human_attribute_name(:model) %>:</strong></dt>
  <dd><%= @car.model %></dd>
  <dt><strong><%= model_class.human_attribute_name(:string) %>:</strong></dt>
  <dd><%= @car.string %></dd>
  <dt><strong><%= model_class.human_attribute_name(:trim) %>:</strong></dt>
  <dd><%= @car.trim %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              cars_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_car_path(@car), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              car_path(@car),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<center>
<h1>Chat</h1>

<ul id="chat">
  <%= render @messages %>
</ul>

<%= form_for Message.new, remote: true do |f| %>
  <%= f.hidden_field :car_id, :value => @car.id %>
  <%= f.text_field :content %>
  <%= f.submit "Send" %>
<% end %>
<%= current_user.id%>
<%= subscribe_to "/messages/new/#{@car.id}" %>
<%= link_to 'Delete ALL', delete_all_path, method: :delete%>
</center>
