<!DOCTYPE html>
<html>
<head>
  <title>Devise</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='container'>
    <div id='user_nav'>
      <% if user_signed_in? %>
        Logged in as <%= current_user.username %><br/>
        <%= link_to 'Edit profile', edit_user_registration_path %><br/>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %><br/>
      <% else %>
        <%= link_to 'Sign up', new_user_registration_path %></br>
        <%= link_to 'Login', new_user_session_path %></br>
        <%= link_to 'Sign in with Twitter', user_omniauth_authorize_path(:twitter) %>
        <% end %>
      </div>
    </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</center>
</body>
</html>
