<!DOCTYPE html>
<html>
<head>
  <title>Devise</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='container'>
    <div id='user_nav'>
      <% if current_user %>
        Logged in as <%= current_user.id %><br/>
        <%= link_to 'Logout', authentication_path(current_user.id), method: :delete %><br/>
      <% else %>
        <%= link_to 'Sign up', new_user_path %>
        <%= link_to 'Login', authentications_path %>
        <% end %>
      </div>
    </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</center>
</body>
</html>
